.gg {
	column-count: 4;
	column-gap: 0;
	width: 80%;
	max-width:1400px;
	margin: auto;
}


.img{
	max-width: 100%;
	display: block;
}


.qq {
display: block;
opacity: 0.8;
transition:2s;
filter: brightness(100%);
/*filter: blur(2px);
filter: sepia(2);
filter: brightness(0);
filter: hue-rotate(45deg);
filter: grayscale(10);*/
}

.qq+ .qq {
margin: 3px 3px;	
}

.qq:hover {
	opacity: 1;
	filter: brightness(3);
	/*filter: blur(2px);
	filter: sepia(0);
	filter: brightness(3);
    filter: hue-rotate(45deg);
    filter: grayscale(10);*/
}

@media all and (max-width: 1024px) {
.gg{
width: 90%;
column-count: 3;	
}

@media all and (max-width: 768px) {
.gg{
width: 100%;
column-count: 2;	
}

@media all and (max-width: 480px) {
.gg{
column-count: 1;	
}

